* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #d2caca;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #000000;
    color: white;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.sidebar .logo {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px 10px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #4a4141;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.topbar {
    background: white;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.topbar h2 {
    margin-bottom: 5px;
}
.table-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.table-section h3 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table thead {
    background: #000000;
    color: white;
}

table th, 
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background: #f1f5f9;
}

#tableHead:hover {
    background: #000000;
}

.badge-link {
    padding: 4px 10px;
    background: #28a745;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    text-decoration: none;
    transition: 0.3s;
}

.badge-link:hover {
    background: #1f7e34;
}


/* Medium Screens (tablets) */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .topbar {
        margin-top: 15px;
    }
}

/* Small Screens (phones) */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }

    table th, table td {
        padding: 8px;
        font-size: 14px;
    }

    .topbar h2 {
        font-size: 18px;
    }

    .table-section h3 {
        font-size: 18px;
    }
}

/* Extra Small Screens  */
@media (max-width: 600px) {

    /* Make sidebar collapsible style */
    .sidebar {
        padding: 10px;
    }

    .sidebar .logo {
        font-size: 18px;
    }

    .sidebar ul li {
        padding: 10px 8px;
        font-size: 14px;
    }

    .main-content {
        padding: 10px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap; 
    }
}
