*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
}

.heading h2{
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.heading p{
    font-size: 15px;
    color: #555;
}
.SignupForm{
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    max-width: 100%; 
}

.formRegister{
    display: flex;
    flex-direction: column;
}

.formRegister label{
    margin: 10px 0 5px;
    font-weight: 600;
    color: #444;
}

.formRegister input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
}

.formRegister select{
    outline: none;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 7px;
    font-size: 16px;
}

.formRegister input:focus{
    border-color: #5a67d8;
}

.formRegister button {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #5a67d8;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.formRegister button:hover{
    background: #434db3;
}

.hidden{
    display: none;
}

.color{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

/* Tablets */
@media (max-width: 768px){
    .SignupForm{
        width: 80%;
        padding: 25px;
    }

    .heading h2{
        font-size: 26px;
    }

    .heading p{
        font-size: 14px;
    }
}

/* Mobile phones */
@media (max-width: 480px){
    .SignupForm{
        width: 100%;
        padding: 20px;
    }

    .heading h2{
        font-size: 22px;
    }

    .heading p{
        font-size: 13px;
    }

    .formRegister input,
    .formRegister select{
        padding: 8px;
        font-size: 14px;
    }

    .formRegister button{
        padding: 10px;
        font-size: 15px;
    }
}

/* Very small screens  */
@media (max-width: 360px){
    .heading h2{
        font-size: 20px;
    }

    .SignupForm{
        padding: 15px;
    }
}
