/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* Main container */
.main{
    width: 100%;
    height: 100vh;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Heading */
.heading{
    text-align: center;
    margin-bottom: 20px;
}

.heading h2{
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.heading p{
    font-size: 15px;
    color: #555;
}

/* Form Container */
.SignupForm{
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
}

.formRegister{
    display: flex;
    flex-direction: column;
}

.formRegister label{
    margin: 10px 0 5px;
    font-weight: 600;
    color: #444;
}

/* Inputs */
.formRegister input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
}

.formRegister input:focus{
    border-color: #5a67d8;
}

/* Optional: Add submit button */
.formRegister button {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #5a67d8;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.formRegister button:hover{
    background: #434db3;
}
.hidden{
    display: none;
}
.color{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}